{% extends "base.html" %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h2>Blogging System</h2>
    {% block messages %}
    {{ super() }}
    {% endblock %}
    <p>Welcome to the online blogging system. Hope you enjoy reading.</p>
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">
            <!-- <a href="/posts/{{ post.id }}">{{ post.title }}</a> -->
            <div class="media">
                <div class="media-left">
                    <a href="/posts/{{ post.id }}">
                        <img class="media-object" src="https://picsum.photos/64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/posts/{{ post.id }}">{{ post.title }}</a></h4>
                    <p style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{ post.content }}
                    </p>

                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}